h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding:  0;
    font-family: HeroNew500, sans-serif;
}
 
img{
    width: 100px;
}
.d-flex{
    display: flex;
}
.container{
    margin: auto;
    /* padding: 10px 20px; */

}
.header{
    max-width: 1250px;
    margin: auto;
    /* text-align: center; */
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}
a{
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
.p-70px-15px{
    padding: 70px 15px;
}
.m-t-10px{
    margin-top: 31px;
}
.m-l-75px{
    margin-left: -75px;
}
.mb-0{
    margin-bottom: 0;
}
.mt-0{
    margin-top: 0;
}
footer{
    background-color: #181c20;
    padding: 30px 50px;
}
li{
    list-style: none;
}
.f-1{
    flex: 1;
}

.card-img img {
    max-width: 100%;
}
.img2{
    max-width: 100%;
}

.footer-menu a{
    color: #a3a4a6;
}
.nav-button{
    background: #ff6200;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
